.btn-start{
    margin: 40px;
  }
  .conterbox{
    text-align: left;
    margin-top: 30px;
    margin-left: 8  0px;
    width: 500px;
    height: 200px;
    border-radius:8px;
  }
  .blinking-cursor {
      animation: blink 0.8s linear infinite;
      visibility: visible;
      color: rgb(4, 0, 0);
      background-color: rgb(246, 248, 249);
    }
    
    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
    
    .correct {
      color: #228B22;
    }
    
    .incorrect {
      color:LightPink;
      /* background-color:LightPink; */
    }
    span {
      color: rgb(255, 255, 255);
      font-size: 22px;
      font-weight: bold;
    }