.addContainer {
  background-color: #fbeee0;
  border: 2px solid #422800;
  /* border-radius: 30px; */
  box-shadow: #422800 4px 4px 0 0;
  height: 50px;
  width: 500px;
  color: black;
  margin: 10px;
}