.keyboard-container {
  width: 760px;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:4px;
  justify-content: center;
}



.keyboard {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 315px;
}

  .row {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  
  li {
    height: 3em;
    width: 6em;
    color: rgba(0,0,0,0.7);
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    display: inline-block;
    text-decoration: none; 
    touch-action: manipulation;
    outline: none;
    border-radius: 5px; 
    margin: 6px;
  }
  
  #tab {
    width: 5em;
  }
  
  #caps {
    width: 6em;
  }
  
  #left-shift {
    width: 8em;
  }
  
  #enter {
    width: 6em;
  }
  
  #right-shift {
    width: 8em;
  }
  
  #back {
    width: 5em;
  }
  
  .pinky { 
    box-shadow: #4682B4 2px 3px 0 0;
    background-color: LightSkyBlue;
    border: 2px solid #ADD8E6
  }

  
  .ring { 
    box-shadow: #FF69B4 2px 3px 0 0;
    background-color: LightPink;
    border: 2px solid #FFC0CB;
  }

  
  .middle { 
    box-shadow: #228B22 2px 3px 0 0;
    background-color: PaleGreen;
    border: 2px solid #9ACD32;
  }

  
  .pointer1st { 
    box-shadow: #6A5ACD 2px 3px 0 0;
    background-color: Lavender;
    border: 2px solid #D8BFD8;
  }

  .pointer2nd { 
    box-shadow: #f8af57 2px 3px 0 0;
    background-color: PeachPuff;
    border: 2px solid #FFB347;
  }

  
  .pressed {
    top: 5px;
    color: #fff;
    }
  .space{
    box-shadow: #f8af57 2px 3px 0 0;
    width: 100em;
    background-color: PeachPuff;
    border: 2px solid #FFB347;
  }
  li.space.pressed {
    
    color: #fff;
  }