.keyboard-container {
  width: 760px;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:4px;
  justify-content: center;
  /* background: linear-gradient(to right, #fbeee0 100%, #fbeee0 100%) 0 0/100% 3px no-repeat,
  linear-gradient(to bottom,#fbeee0 100%, #fbeee0 100%) 100% 0/3px 100% no-repeat,
  linear-gradient(to right, #fbeee0 100%, #fbeee0 100%) 100% 100%/100% 3px no-repeat,
  linear-gradient(to bottom, #fbeee0 100%, #fbeee0 100%) 0 100%/3px 100% no-repeat;
  animation: anim-ramka-6 8s cubic-bezier(0.0, 0.0, 1.0, 1.0) 1 running; */
}
  /* @keyframes anim-ramka-6 {
  0% {
  background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
  background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
  background-size:    100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
  background-size:    100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
  background-size:    100% 3px, 3px 100%, 100% 3px, 3px 100%;
} */


.keyboard {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 315px;
}

  .row {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  
  li {
    height: 3em;
    width: 6em;
    /* border: 2px solid #f1ebe3; */
    color: rgba(0,0,0,0.7);
    /* box-shadow: #dfb782 2px 2px 0 0; */
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    display: inline-block;
    text-decoration: none; 
    touch-action: manipulation;
    outline: none;
    border-radius: 5px; 
    margin: 6px;
  }
  
  #tab {
    width: 5em;
  }
  
  #caps {
    width: 6em;
  }
  
  #left-shift {
    width: 8em;
  }
  
  #enter {
    width: 6em;
  }
  
  #right-shift {
    width: 8em;
  }
  
  #back {
    width: 5em;
  }
  
  .pinky { 
    box-shadow: #4682B4 2px 3px 0 0;
    background-color: LightSkyBlue;
    border: 2px solid #ADD8E6
  }
  /* .pinky.selected {
    color: crimson;
  } */
  
  .ring { 
    box-shadow: #FF69B4 2px 3px 0 0;
    background-color: LightPink;
    border: 2px solid #FFC0CB;
  }
  /* .ring.selected {
    color: coral;
  } */
  
  .middle { 
    box-shadow: #228B22 2px 3px 0 0;
    background-color: PaleGreen;
    border: 2px solid #9ACD32;
  }
  /* .middle.selected {
    color: darkorange;
  } */
  
  .pointer1st { 
    box-shadow: #6A5ACD 2px 3px 0 0;
    background-color: Lavender;
    border: 2px solid #D8BFD8;
  }
  /* .pointer1st.selected {
    color: gold;
  } */
  
  .pointer2nd { 
    box-shadow: #f8af57 2px 3px 0 0;
    background-color: PeachPuff;
    border: 2px solid #FFB347;
  }
  /* .pointer2nd.selected {
    color: khaki;
  } */
  
  .pressed {
    top: 5px;
    color: #fff;
    }
  .space{
    box-shadow: #f8af57 2px 3px 0 0;
    width: 100em;
    background-color: PeachPuff;
    border: 2px solid #FFB347;
  }
  li.space.pressed {
    
    color: #fff;
  }